button, input, select, textarea {
  font-family: inherit;
  font-size:100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}

input[type=submit]{
  width:100%;
  color: steelblue;
}

input[type=password]:focus {
  background-color: seagreen;
  outline: none;
}

input {
  border-radius: 15px;
}

fieldset {
  border:none;
}
fieldset input {
  display: inline;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  cursor: pointer;
  -webkit-user-select: none
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox label:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox label:checked input ~ .checkmark {
  background-color: #2196F3;
}
